<!DOCTYPE html>
<html>
  <head>
    <title>Asiento</title>
    <style>
      .row {
        line-height: 2;
      }
      .header {
        font-weight: bold;
      }
      .col {
        float: left;
        width: 16%;
      }
      .toolbar {
        margin-bottom: 20px;
      }
      .info {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <h2>Seleccionar asientos</h2>
    <form action="/simple-service-webapp/micro/compra/pago/{{idEvento}}/final" method="POST">
        <label>Categoría de asiento</label>
        <select name="categoria" required>
            {{#lista}}
            <option value="{{categoria}}">{{categoria}}</option>
            {{/lista}}
        </select>
        <label>Número de asientos</label>
        <input type="number" min="1" id="num_asientos" name="num_asientos" required>
        <label>Tipo de pago</label>
        <input type="submit" value="Siguiente"/>
        <input type="button" onclick="location.href='/simple-service-webapp/micro/eventos'" value="Cancelar">
    </form>
  </body>
</html>